body {
    text-align: center;
    background-color: #081b35;
    padding-left: 20%;
    padding-right: 20%;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding-right: 10px;
}

input {
    margin-bottom: 15px;
}

.main-title {
    font-family: 'Franklin Gothic Medium';
    font-size: 300%;
    color: #febf35;
}

.title {
    color: #febf35;
    font-size: 200%;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
}

.parrafo-principal {
    padding: 40px 100px;
    color: #f8f8ff;
}

.fila {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 5px;
}

.imagen-muestra {
    width: auto;
    height: 400px;
    max-width: 100%;
}

.boton-cta {
    text-align: center;
    border-color: #f2c329;
    background-color: transparent;
    font-family:'Franklin Gothic Medium';
    border-radius: 10px;
    width: 150px;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #febf35;
}

h3 {
    padding: 40px 0 0 0;
}

hr {
    border-color: #f2c329;
}

.footer {
    padding-top: 40px;
    color: #f2c329;
}


/*Flex box*/
.flex-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-box {
    margin: 20px;
    width: auto;
    text-align: center;
}



/* cod en clase*/
.caja {
    background-color: green;
    /* equivalente a 1 rem para todos (top bottom left right) */
    padding: 5px;
    margin: 20px;
    border-width: 20px;
    border-style: solid;
    border-color: darkred;
    width: 150px;
    /* view width = ancho de mi vista */
    height: 150px; 
    /* view height = largo de mi vista*/
    text-align: center;
}

.caja-padre {
    background-color: #f2c329;
    display: flex;
    height: 1000px;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}